<footer id="footer">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Acerca de </h3>
                        <p>Come frutas y verduras</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Centro historico</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>2222212325</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o">jhon@deline.com</i></a></li>
                        </ul>    
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categorias</h3>
                        <ul class="footer-links">
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Jhon</a></li>
                            <li><a href="#">Stephen</a></li>
                            <li><a href="#">Tazas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                      <h3 class="footer-title">Information</h3>
                      <ul class="footer-links">
                        <li><a href="#">Acerca de nosotros</a></li>
                        <li><a href="#">Escribenos</a></li>
                        <li><a href="#">Politicas de Privacidad</a></li>
                        <li><a href="#">Politica de Devoluciones</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                      </ul>
                    </div>
                  </div>
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Servicios</h3>
                        <ul class="footer-links">
                            <li><a href="#">Mi cuenta</a></li>
                            <li><a href="#"Ver carrito></a></li>
                            <li><a href="#">Lista de deseos</a></li>
                            <li><a href="#">Ver mi pedido</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bottom-footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
                     
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Esto fue hecho con amor <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>

        </div>
    </div>

</footer>